html
{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body
{
    height: 100vh;
    display: flex;
    color: white;
    flex-direction: column;
    background: rgb(9,198,249);
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, rgba(9,198,249,1) 25%, rgba(4,93,233,1) 75%);
}

header
{
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.title
{    
    color: blue;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, #020024 0%, #090979 35%, #00D4FF 100%);
}

#new-task-form
{
    display: flex;
}

input, button
{
    border: none;
    outline: none;
    appearance: none;
    background: none;
}

#new-task-input
{
    flex: 1 1 0%;
    padding: 1rem;
    color: #4B56D2;
    margin-left: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    background-color: #F1F6F5;
}

#new-task-input::placeholder
{ 
    color: #6871d4;
}

#new-task-submit
{
    padding: 10px;
    font-size: 22px;
    cursor: pointer;
    color: #ffffff;
    margin-left: 1rem;
    border-radius: 30%;
    background: #1e1e9b;
}

#new-task-submit:hover i
{
    display:none;
}

#new-task-submit:hover:before
{
    content:"Add";
}

main
{
    width: 100%;
    flex: 1 1 0%;
    margin: 0 auto;
    max-width: 800px;
}

.task-list
{
    padding: 1rem;
}

.section-heading
{
    font-size: 2rem;
    font-weight: 300;
    color: #1E1E9B;
    margin-bottom: 1rem;
}

.task
{
    display: flex;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: #3056ff;
    justify-content: space-between;
}

.content
{
    width: 70%;
    padding-right: 1rem;
    padding-top: 0.15rem;
}

.text
{
    width: 100%;
    color: white;
    display: block;
    transition: 0.4s;
    font-size: 1.125rem;
    border-radius: 1rem;
    background-color: #F1F6F5;
}

.text:not(:read-only)
{
    color: #090979;
}

.actions
{
    display: flex;
    margin: 0 -0.5rem;
}

.actions button
{
    opacity: 0.6;
    cursor: pointer;
    font-weight: 700;
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

.actions button:hover
{
    opacity: 1;
}

.edit
{
    color: #32CF32;
}

.delete
{
    color: red;
}